body {
    font-family: Arial, Helvetica, sans-serif;
}



.factura-datos {
    margin-bottom: 20px;
    
}

.tabla-productos {
    border-collapse: collapse;
    width: 100%;
    
}

th, td {
    border: 2px solid #a5a1a1;
    
    padding: 8px;
    text-align: left;
    
    
}



.agregar-producto {
    margin-bottom: 20px;
}

.total {
    font-weight: bold;
}

.botones {
    display: flex;
    justify-content: space-between;
    
    color: #941594;
  }
  
.boton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    
    color: #4CAF50;
  }
  
.btn-1  {
    background-color: #2196F3;
    padding: 2px 2px;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
  }

  .btn-1:hover{
    background-color: #095b9e;
  }

  .btn-2  {
    background-color: #fa2307;
    padding: 2px 2px;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-2:hover{
    background-color: #681409;
    
  }

  .btn-3  {
    background-color: #10b44f;
    padding: 2px 2px;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
  }

  .btn-3:hover{
    background-color: #164628;
  }

  .btn-4  {
    background-color: firebrick;
    padding: 2px 2px;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
  }

  .btn-4:hover {
    background-color: rgb(83, 18, 18);
  }

  .btn-5 {
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
  }

  .btn-6 {
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;

  }

  .izquierda{
    
    height : 50vh;
    width: 50%;
    
  }

  .derecha{
    
    width: 50%;
    
    
  }

  #pantalla-dividida {
    display: flex;
    
  }